extends layout

block content
  h1= title
  p I like playing indoor games
  body  
  button(type="button", class="btn btn-danger" onclick ="doBump()") Press Me

  div#bump Bump the count

  script.  
    var count = 0
    var bump = 1
    function doBump() {
      count = count + bump 
      bump = bump + 1
      document.getElementById("bump").innerHTML = "Count "+ count +" Bump "+bump;
    }
    br
  a(href="search") Search Results